html{
    background-color: #b4bab2;
}
#Title{ 
    color: #ced9da; 
    size: 50px;
    padding: 100px; 
    background-image: url(finalprojectprototype.png);
    background-size: 890px;
    background-position: 260px;;
    display: flex;
    align-items: center; 
    flex-direction: column;
    
   
}

#MentalIllness{
    color: #3f7579; 
    font-size: 30px; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

#ExOfMental{
    padding: 20px;
    background-color: rgb(184, 208, 205);
    color: rgb(87, 111, 121); 
    font-size: 20px; 
    text-align: left;
    margin: 10px 30px 30px 100px;
    display: flex; 
    align-items: center; 


}
#TypesTitle{
    color:rgb(13, 104, 146); 
    font-size: 30px;
    display: flex; 
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}


 #MakeBetter{
    color: rgb(255, 255, 255); 
    font-size: 35px; 
    font-weight: 400;
    padding: 8px; 
    background-color: #839395;
    text-align: center;
    display: flex; 
    flex-wrap: nowrap; 
    flex-direction: column;
    align-content: center;
} 

.end{
    color: rgb(69, 88, 91); 
    font-size: 20px;
    display: flex; 
    align-items: center; 
    flex-direction: column;

}

.sources{
    color: rgb(58, 118, 96); 
}


#line{
    color: rgb(69, 88, 91);
    display: flex; 
    align-content : center;
    justify-content: center;
}

#h1Title{
    color: rgb(22, 79, 90); 
    padding: 30px;
    size: 30px; 
    display: flex;
    align-content: flex-end; 
    justify-content: center;
    
    
}

.btnAnxiety{
    color: rgb(22, 79, 90); 
    display: flex;
    align-content: flex-end; 
    justify-content: center; 
}

.TypesOfDepression{
    color: rgb(37, 82, 37); 
    padding: 30px; 
    display: flex; 
    font-size: 25px;

}

#homebtn{
    padding: 20px; 
    color: rgb(39, 117, 39); 
    background-color:rgb(153, 174, 153);
    border-radius: 30%;
    font-size: 30px;
}

#Paragraph{
    font-size: 21px;
    padding: 10px;
    display: flex; 
    justify-content: space-between;

}
h4{
    font-size: 23px;
    color:rgb(37, 82, 37)
}

h5{
    font-size: 20px; 
    color: rgb(75, 109, 75);
    padding: 8px; 
}
#space{
    font-size:80px; 

}


.menu3 a {
  padding: 12px;
  border-radius: 0px;
  color: #88a08f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu3 a span {
  z-index: 100;
  color: #0f3b279a;
  font-size: 30px;
  transition: all 500ms cubic-bezier(0.075, 0.81, 0.165, 1);
}

.menu3 a::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% - 4px);
  height: 0;
  right: 0;
  bottom: 0;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: all 500ms cubic-bezier(0.075, 0.81, 0.165, 1);
}

/* On hover the 'before' elements height get increased from 0 to 100% ans the span element's letter spacting increase from 1 to 4px */
.menu3 a:hover:before {
  background-color: transparent;
  height: 50%;
  transition: all 1s cubic-bezier(0.075, 0.81, 0.165, 1);
}

.menu3 a:hover span {
  letter-spacing: 4px;
  color: #fff;
}







.source{ 
    color:white;
    font-size: 40px; 
    background-color: rgb(131, 148, 148); 
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;



}

#FL2{
    width: 150px;
    height: 150px;
    display: flex; 
    justify-content: flex-end;
    align-items: flex-start;

}

#FL1{
    width: 150px;
    height: 150px;
   
    display: flex; 
    justify-items: flex-end;
    align-items: flex-end;

}