html{
    background-color: #b4bab2;
}
#Title{ 
    color: #ced9da; 
    size: 50px;
    padding: 100px; 
    background-image: url(finalprojectprototype.png);
    background-size: 890px;
    background-position: 260px;;
    display: flex;
    align-items: center; 
    flex-direction: column;
    
   
}

#MentalIllness{
    color: #3f7579; 
    font-size: 30px; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

#source{ 
    color:white;
    font-size: 40px; 
    background-color: rgb(131, 148, 148); 
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;



}

.Types{
    color: rgb(68, 117, 135); 
    font-size: 25px; 
    padding: 8px; 
    display: flex; 
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
}

#ExOfMental{
    padding: 20px;
    background-color: rgb(184, 208, 205);
    color: rgb(87, 111, 121); 
    font-size: 20px; 
    text-align: left;
    margin: 10px 30px 30px 100px;
    display: flex; 
    align-items: center; 


}
#TypesTitle{
    color:rgb(13, 104, 146); 
    font-size: 30px;
    display: flex; 
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}


 #MakeBetter{
    color: rgb(255, 255, 255); 
    font-size: 35px; 
    font-weight: 400;
    padding: 8px; 
    background-color: #839395;
    text-align: center;
    display: flex; 
    flex-wrap: nowrap; 
    flex-direction: column;
    align-content: center;
} 

.end{
    color: rgb(69, 88, 91); 
    font-size: 20px;
    display: flex; 
    align-items: center; 
    flex-direction: column;

}

.sources{
    color: rgb(58, 118, 96); 
}

#TitleSource{
    color: rgb(255, 255, 255) 
}

#line{
    color: rgb(69, 88, 91);
    display: flex; 
    align-content : center;
    justify-content: center;
}

#h1Title{
    color: rgb(22, 79, 90); 
    padding: 30px;
    size: 30px; 
    display: flex;
    align-content: flex-end; 
    justify-content: center;
    
    
}

.btnAnxiety{
    color: rgb(22, 79, 90); 
    display: flex;
    align-content: flex-end; 
    justify-content: center; 
}

.TypesOfDepression{
    color: rgb(37, 82, 37); 
    padding: 30px; 
    display: flex; 

}

#homebtn{
    padding: 20px; 
    color: rgb(39, 117, 39); 
    background-color:rgb(153, 174, 153);
    border-radius: 30%;
    font-size: 30px;
}

#Paragraph{
    font-size: 20px;


}
h4{
    font-size: 23px;
    color:rgb(37, 82, 37)
}

h5{
    font-size: 20px; 
    color: rgb(75, 109, 75);
    padding: 8px; 
}
#space{
    font-size:80px; 

}

